/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2019-09-09 09:12:42 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 49%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 36.75%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 36.75%;
    }
}

.logo img {
    width: auto !important;
}
select#mpsearch-category {
    display: none;
}
.owl-carousel .owl-item img {
    margin: auto !important;
   width:100%;
}

.page-header.type18 .block-search input {
    border-radius: 5px;
}
.page-header.type18 .switcher {
    border-radius: 5px;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #e6e3df !important;
}
.minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart.active:before {
    color: #0088cc;
}
a:visited, .alink:visited {
    color: #0088cc;
    text-decoration: none;
}
.item img {
    min-height: 113px;
}
a, .alink {
    color: #0088cc;
    text-decoration: none;
}
body {
    color: #7b7f83;
}
.content {
    min-height: 163px;
}
.socialmedia a {
    color: #0088cc !important;
}
.footer-middle a, .footer-middle a:hover, .footer-middle a:focus {
    color: #777777;
}
.porto-icon-right-dir:before {
    content: '';
display:none;
}
.porto-icon-ok:before {
    content: '';
display:none;
}
.minicart-wrapper .action.showcart:hover:before, .minicart-wrapper .action.showcart:active:before, .minicart-wrapper .action.showcart.active:before, .minicart-wrapper .action.showcart.active:hover:before {
    color: #0088cc;
}
a:hover, .alink:hover {
    color: #0088cc;
}
.header.content {
    min-height: auto;
}
.page-layout-1column .column.main {
    padding: 0px;
}
.block-search .action.search:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: inherit;
    color: #999898;
    content: '\f818';
    font-family: 'porto-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.video-tutorials {
    font-weight: bold;
    color: #0088cc;
}
.socialmedia a {
    color: #0088cc !important;
    margin-right: 8px;
}
.socialmedia a span {
padding-right: 10px;
border-right: 1px solid #524b4b;
position: relative;
top: -9px;
height: 30px;
display: table-cell;
vertical-align: middle;
}
.footer-middle .container .row .col-lg-3 {
    -webkit-flex: 0 0 25%;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 26%;
    max-width: 25%;
    margin: auto;
}
/* new edits*/
.cms-shipping-info .col-left{    float: left;}
.cms-shipping-info .right-content-inner{float: left;}
.cms-shipping-info .matcontent {
background: #171717;
    color: #fff;
    padding: 6px;
    margin: 6px;
    border-radius: 7px;
}
.cms-shipping-info .heading-defaultmatdiv h2{
    font-weight: 600;
    margin: 0px;
    margin-bottom: 16px;}
main#maincontent {
    padding-left: 0px;
    padding-right: 0px;
}
/* orders*/
.cms-order-and-return-policies .col-left{    float: left;}
.cms-order-and-return-policies .right-content-inner{float: left;}
.cms-order-and-return-policies .matcontent {
background: #171717;
    color: #fff;
    padding: 6px;
    margin: 6px;
    border-radius: 7px;
}
.cms-order-and-return-policies .heading-defaultmatdiv h2{
    font-weight: 600;
    margin: 0px;
    margin-bottom: 16px;}
main#maincontent {
    padding-left: 0px;
    padding-right: 0px;
}
.cms-order-and-return-policies .heading-defaultmatdiv {
    margin-bottom: 12px;
    font-weight: 600;
    color: #0088cc;
}
.page-header.type18 .navigation .level0 > .level-top {
    font-size: 13px;
    font-family: 'Oswald';
    font-weight: 400;
    color: #0088cc;
}
body {
    color: #7b7f83;
    font-size: 14px;
}
.page-header.type16 .navigation>ul {
    padding: 0;
    background-color: #f0f0ed !important;
}
 .navigation {
    background: #f0f0ed;
 
}
.page-wrapper > .breadcrumbs {
    padding: 0;
    background-color: #ffffff;
    color: #0088cc;
}
.page-wrapper > .breadcrumbs a, .page-wrapper > .breadcrumbs a:hover, .page-wrapper > .breadcrumbs a:focus {
    color: #0088cc;
}
.cms-index-index ul#ui-id-1 {
    background: #fff;
    width: auto;
    font-family: inherit;
    padding: 0px;
    border-bottom: none;
}
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #0088cc !important;
}
.cms-index-index .navigation {
    background: #ffffff;
}
@media only screen and (min-width: 768px) and (max-width: 991px){ 
.navigation .level0>.level-top{padding: 0px 6px;}}
.columns p img {
    margin-right: 15px !important;
}
/*new css*/
.cms-index-index body,
.cms-index-index .page-wrapper,
.cms-index-index .main-panel-top {
    background: #fff!important;}
.item .content img {
    width: 100%;
    height: 200px;
}
.item .content {
min-height: 485px;
    background: #f4f4f4;
    padding: 10px;
    border: 1px solid #fffdfd;
    border-radius: 4px;
    margin-bottom: 20px;
}
.item .content h3{
margin:10px 0px;}

.item .content :hover .item{
 box-shadow: 5px 5px 15px #bfd7e4;
}
.blog-download, .pdf-download, .video-download{
float:left;}
.pdfdiv, .insta-item, .wordpress-blog {
    background: #f4f4f4;
    padding: 10px;
    min-height: 237px;
margin-bottom: 20px;
}
.content p {
    min-height: 170px;
}
.wordpress-blog, .pdfdiv{position:relative;}
.wordpress-blog a{
display: inline-block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72%;}
.socialmedia a{
background: #00abe3;
    padding: 14px;
    border-radius: 4px;
    width: 90%;
    text-align: center;
    color: #fff!important;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
div#banner-slider-demo-15 {
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px){
ul#ui-id-1 {
    width: auto;}}
.data.switch {
    text-transform: uppercase;
}