<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
        <update id="Magento_Customer::customer" title="Users" translate="title" module="Magento_Customer" sortOrder="30" resource="Magento_Customer::customer"/>
        <update id="Magento_Customer::customer_manage" title="All Users" translate="title" module="Magento_Customer" sortOrder="10" parent="Magento_Customer::customer" action="customer/index/" resource="Magento_Customer::manage"/>
        <update id="Magento_Company::company_index" title="Manage Stores" module="Magento_Company" sortOrder="60" parent="Magento_Customer::customer" action="company/index" resource="Magento_Company::index"/>
        <update id="Magento_Customer::customer_group" title="User Groups" translate="title" module="Magento_Customer" sortOrder="50" parent="Magento_Customer::customer" action="customer/group" resource="Magento_Customer::group"/>
	</menu>
</config>
